{% extends 'shared/category/layout.html'%}
{% block head %}
{% endblock%}

{% block body %}

<!-- header 區塊 -->
<header class="mt-5">
    <div class="container">
        <div class="col-12">
            <div class='row'>
                <!-- header 區塊 1 -->
                <div class="col-sm-2 col-md-3 d-none d-sm-block">
                    <div style="float:right">
                        <img src="../static/img/max.png"
                            style="margin-bottom:0;width:3.5rem;height:3.5rem;border-radius:50%;">
                    </div>
                </div>
                <div class="col-sm-10 col-md-5">
                    <h3 style="font-family:Montserrat, sans-serif;font-size:2.75rem;">
                        <a href='/' style="box-shadow:none;text-decoration:none;color:var(--textTitle)">
                            ArticleCollect
                        </a>
                    </h3>
                    <p>
                        <small>Auto collect article, you can choose type group below.</small>
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 my-2">
                    <div class='toggle_track'>
                        <input type="checkbox" id='toggle_switch' checked data-toggle="toggle" data-onstyle="dark">
                    </div>
                </div>
            </div>

            <!-- header 區塊 2 -->
            <div class='row justify-content-center'>
                <div class="col-sm-12 col-md-6">
                </div>
            </div>

        </div>
    </div>
</header>
<!-- article 區塊 -->
<section>
    <div class="container">
        <hr class='header_line my=0'>
        <article>
            <div class='row mb-4 justify-content-center'>
                <div class="col-sm-12 col-md-8">
                    <div class="article list">
                        <br>
                        <h3 style="font-family:Montserrat, sans-serif;font-size:1.75rem;margin-bottom:0.4375rem;">
                            Unauthorized 401
                        </h3>
                        <p>You're not allowed to do this.</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

{% endblock%}